*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(248, 255, 185);
}

header{
    background-color: rgb(232, 235, 80);
    text-align: center;
    padding: 25px;
}

.navbar{
    background-color: rgb( 122, 6, 6);
}

aside{
    width: 20%;
    float: left;
    padding: 10px;
}

section{
    width: 40%;
    float: left;
    padding: 10px;
}

article{
    border: 2px solid;
    width: 40%;
    float: left;
    padding: 10px;
}

footer{
    display: block;
    clear: both;
    background-color: rgb( 233, 169, 169);
    text-align: center;
    padding: 25px;
}

@media screen and (max-width:600px){
    aside, section, article{
        width:100%
    }
}

